<?xml version="1.0"?>
<!--
/**
    * @category  LogicSpot
    * @package   LogicSpot_CmsBlock
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Pdf\Invoice">
        <plugin name="logicspot_custom_pdf_invoice" type="LogicSpot\CmsBlock\Plugin\InvoicePdf" />
    </type>
</config>